  h1 {
    font: Verdana;
    text-align: center;
	color: black;
	background-color: lightcyan;
    font-size: 25px;
}

h2 {
	color: mediumaquamarine;
	background-color: white;
	font-size: 12px;
}

h3 {
	color: steelblue;
	background-color: lightcyan;
}
 
 body {
   font: 20px Verdana;
   background: #E6E6E6;
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 0px;
   padding: 1px;
   border: 1px solid rgb(6,164,116);
   border-radius: 2pt;
   background: rgb(102,255,217);
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 0px;
   padding: 0px;
   border: 1px solid navy;
   border-radius: 8pt;
   background: mediumaquamarine;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 1px;
   padding: 1px;
   border: 3px solid forestgreen;
   border-radius: 2pt;
   background: turquoise;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }
 
  header, footer {
   display: block;
   margin: 1px;
   padding: 2px;
   min-height: 100px;
   border: 3px solid darkturquoise;
   border-radius: 1pt;
   background: snow;
   }
 
  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
  }
/*rounded corners*/
#rcorners1 {
    border-radius: 25px;
    border: 5px solid darkcyan;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(circle,#43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 150px; 
}

#rcorners2 {
  border-radius: 25px;
  border: 10px solid darkcyan;
  padding: 20px; 
  height: 150px;  
}

#rcorners3 {
  border-radius: 15px;
  background: linear-gradient(180deg,aqua , deepskyblue); 
  padding: 10px; 
  height: 150px;  
}
/*Elliptical border*/
#rcorners4 {
  border-radius: 10px / 15px;
  border: 2px solid royalblue;
  background-image: radial-gradient(circle, paleturquoise ,aqua , royalblue);
  padding: 20px; 
  height: 150px; 
}

#rcorners5 {
  border-radius: 15px / 50px;
  background-image: radial-gradient(paleturquoise, darkturquoise);
  padding: 10px; 
  height: 150px; 
}

#rcorners6 {
  border-radius: 5%;
  background-image: repeating-radial-gradient(aqua, aquamarine 25%, turquoise 95%);
  padding: 2px; 
  height: 150px;
}

#rcorners7 {
 border-radius: 15px / 5px;
 background-image: radial-gradient(circle, aquamarine, mediumturquoise, cyan);
}

#rcorners8 {
 height: 200px;
 border-radius: 5px / 4px;
 background-image: radial-gradient(circle, azure, turquoise, darkcyan);
}

#rcorners9 {
 height: 100px;
 border-radius: 10px / 10px;
 background: linear-gradient(to right, rgba(0,51,38,0), rgba(0,51,38,1));
}
#rcorners10 {
 border-radius: 15px / 5px;
 background-image: url("https://cryptosolar.github.io/blood.jpg");
}

#rcorners11 {
 border-radius: 15px / 5px;
 background-image: url("https://cryptosolar.github.io/blood.svg");
}

#rcorners12 {
 border-radius: 5px / 4px;
 background-image: url("https://cryptosolar.github.io/blood2.jpg");
}

#rcorners13 {
 height: 300px;
 border-radius: 1px / 1px;
 background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
 background-image: url("https://cryptosolar.github.io/blood2.svg");

}

/*gradients*/
#grad1 {

  background-image: linear-gradient(90deg, aqua, darkblue); /* Standard syntax (must be last) */
}
#grad2 {
  
  background-image: linear-gradient(to right, rgba(6,100,116,0), rgba(102,255,217,1)); /* Standard syntax (must be last) */
}

#grad3 {
  background-image: radial-gradient(circle, aquamarine, turquoise, mediumturquoise);
}

#grad4 {
  background-image: radial-gradient(circle, darkturquoise, mediumturquoise, turquoise);
}

#grad5 {
  background-image: radial-gradient(circle, azure, turquoise, steelblue);
}

#grad6 {
  height: 200px;
  background-image: radial-gradient(circle, steelblue, darkcyan, turquoise);
}

#grad7 {
  background: linear-gradient(to left, rgba(6,167,116,0), rgba(102,255,217,1));
}
