h1 {
	margin: 1;
	padding: 2;
	border: 2 none;
	border-radius: 1;
	background: none;
}

h2 {
	color: red;
	background-color: yellow;
}

h3 {
	color: yellow;
	background-color: red;
}
